@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
	--main-color: #7649fe;
	--color-dark: #1d1135;
	--text-grey: #0c164f;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

/* chart */

div .card-body {
	padding-top: 50px;
}

div .uitleg {
	padding-top: 10px;
	padding-left: 20px;
}

/* sidebar */

.sidebar {
	width: 345px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: var(--main-color);
	z-index: 100;
	transition: width 300ms;
}

.sidebar-brand {
	height: 90px;
	padding: 1rem 0rem 1rem 2rem;
	color: #fff;
}

.sidebar-brand span {
	display: inline-block;
	padding-right: 1rem;
}

.sidebar-menu {
	margin-top: 1rem;

}

.sidebar-menu li {
	width: 100%;
	margin-bottom: 1.7rem;
	padding-left: 2rem;
}

.sidebar-menu a {
	padding-left: 1rem;
	display: block;
	color: #fff;
	font-size: 1.2rem;
}

.sidebar-menu a.active {
	background: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: var(--main-color);
	border-radius: 30px 0px 0px 30px;
}


.sidebar-menu a span:first-child {
	font-size: 1.5rem;
	padding-right: 1rem;
}

/* Navigatie */

#nav-toggle:checked + .sidebar {
	width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand, 
#nav-toggle:checked + .sidebar li {
	padding-left: 1rem;
	text-align: center;
}

#nav-toggle:checked + .sidebar li a {
	padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {​​
	display: none;
}​​

#nav-toggle:checked ~ .main-content {​​
	margin-left: 70px;
}​​

#nav-toggle:checked ~ .main-content header {​​
	width: calc(100% - 70px);
	left: 70px;
}​​

.main-content {
	transition: margin-left 300ms;
	margin-left: 345px;

}

/* header */

header {
	background: #fff;
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
	position: fixed;
	left: 345px;
	width: calc(100% - 345px);
	top: 0;
	z-index: 100;
	transition: left 300ms;
}

header h2 {
	color: #222;
}

header label span {
	font-size: 1.7rem;
	padding-right: 1rem;
}

/*zoekbalk*/

.search-wrapper {
	border: 1px solid #ccc;
	border-radius: 30px;
	height: 50px;
	display: flex;
	align-items: center;
	overflow-x: hidden; 
}

.search-wrapper span {
	display: inline-block;
	padding: 0rem 1rem;
	font-size: 1.5rem;
}

.search-wrapper input {
	height: 100;
	padding: .5rem;
	border: none;
	outline: none;
}

/*User*/

.user-wrapper {
	display: flex;
	align-items: center;
}

.user-wrapper img {
	border-radius: 50%;
	margin-right: 1rem;

}

.user-wrapper small {
	display: inline-block;
	color: var(--text-grey);
}

/*Body*/

main {
	margin-top: 75px;
	padding: 2rem 1.5rem;
	background: #f1f5f9;
	min-height: calc(100vh - 90px);
}

.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
	margin-top: 1rem;

}

.card-single {
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding: 2rem;
	border-radius: 2px;
}

.card-single h2 {
	font-size: 1.7rem;
}

.card-single div:last-child span {
	color: var(--main-color);
	font-size: 3rem;
}

.card-single div:first-child span {
	color: var(--text-grey);
}

.recent-grid {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 70% auto;

}

.card {
	height: 375px;
	background: #fff;
	border-radius: 5px;

}

.card-header,
.card-body {
	padding: 1.2rem;
}

.card-tools {
	padding: 1.2rem;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f0f0f0;
}

.card-header button {
	background: var(--color-dark);
	border-radius: 10px;
	color: #fff;
	font-size: .8rem;
	padding: .5rem 1rem;
	border: 1px solid var(--color-dark);
}

/*lijst tools*/

.lijst {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem 1rem;
}

.tool button {
	background: var(--main-color);
	border-radius: 10px;
	color: #fff;
	font-size: .8rem;
	padding: .5rem 1rem;
	border: 1px solid var(--main-color);
}

.info {
	display: flex;
	align-items: center;
}

.info span {
	font-size: 2.2rem;
	padding-right: 0.5rem;
	color: var(--main-color);
}

.info h4 {
	font-size: .8rem;
	font-weight: 700;
	color: #222;
}

/*locatie planeet*/

.planeet {
	color: var(--main-color);
}

/* desktop size */

@media only screen and (max-width: 2600px) {
	.sidebar {
		width: 70px;
	}

	.sidebar .sidebar-brand,
	.sidebar li {
		padding-left: 1rem;
		text-align: center;
	}
 
	.sidebar li a {
		padding-left: 0rem;
	}

	.sidebar .sidebar-brand h2 span:last-child,
	.sidebar li a span:last-child {
		display: none;
	}

	.main-content {
		margin-left: 70px;
	}

	.main-content header {
		width: calc(100% - 70px);
		left: 70px;
	}

	.sidebar:hover {
		width: 345px;
		z-index: 200;
	}

	.sidebar:hover .sidebar-brand,
	.sidebar:hover li {
		padding-left: 2rem;
		text-align: left;
	}
 
	.sidebar:hover li a {
		padding-left: 1rem;
	}

	.sidebar:hover .sidebar-brand h2 span:last-child,
	.sidebar:hover li a span:last-child {
		display: inline;
	}

	.recent-grid {
		grid-template-columns: 70% auto;
	}

}
/* laptop large */

@media only screen and (max-width: 1600px) {
	.sidebar {
		width: 70px;
	}

	.sidebar .sidebar-brand,
	.sidebar li {
		padding-left: 1rem;
		text-align: center;
	}
 
	.sidebar li a {
		padding-left: 0rem;
	}

	.sidebar .sidebar-brand h2 span:last-child,
	.sidebar li a span:last-child {
		display: none;
	}

	.main-content {
		margin-left: 70px;
	}

	.main-content header {
		width: calc(100% - 70px);
		left: 70px;
	}

	.sidebar:hover {
		width: 345px;
		z-index: 200;
	}

	.sidebar:hover .sidebar-brand,
	.sidebar:hover li {
		padding-left: 2rem;
		text-align: left;
	}
 
	.sidebar:hover li a {
		padding-left: 1rem;
	}

	.sidebar:hover .sidebar-brand h2 span:last-child,
	.sidebar:hover li a span:last-child {
		display: inline;
	}

	.recent-grid {
		grid-template-columns: 70% auto;
	}

	.tool button {
		width: 110px;
		height: 35px;
		font-size: 0.7rem;
	}
}

/* menu tablet en mobile */
@media only screen and (max-width: 800px) {
	
	.recent-grid {
		grid-template-columns: 60% auto;
	}

	.search-wrapper {
		display: none;
	}

	.sidebar {
		left: -100% !important;
	}

	header h2 label {
		background: var(--main-color);
		padding-right: 0rem;
		margin-right: 1rem;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center !important;
	}

	header h2 span {
		text-align: center;
		padding-right: 0rem;
	}

	header h2 {
		font-size: 1.1rem;
		display: flex;
		align-items: center;
	}

	.main-content {
		width: 100%;
		margin-left: 0rem;
	}

	header {
		width: 100% !important;
		left: 0 !important;
	}

	#nav-toggle:checked + .sidebar {
		left: 0 !important;
		z-index: 100;
		width: 345px;
	}

	#nav-toggle:checked + .sidebar .sidebar-brand,
	#nav-toggle:checked + .sidebar li {
		padding-left: 2rem;
		text-align: left;
	}

	#nav-toggle:checked + .sidebar li a {
		padding-left: 1rem;
	}

	#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
	#nav-toggle:checked + .sidebar li a span:last-child {
		display: inline;
	}

	#nav-toggle:checked ~ .main-content {
		margin-left: 0rem !important;
	}
}

/* tablet size */

@media only screen and (max-width: 768px) {
	#nav-toggle:checked + .sidebar {
		left: 0 !important;
		z-index: 100;
		width: 345px;
	}

	#nav-toggle:checked + .sidebar .sidebar-brand,
	#nav-toggle:checked + .sidebar li {
		padding-left: 2rem;
		text-align: left;
	}

	#nav-toggle:checked + .sidebar li a {
		padding-left: 1rem;
	}

	#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
	#nav-toggle:checked + .sidebar li a span:last-child {
		display: inline;
	}

	#nav-toggle:checked ~ .main-content {
		margin-left: 0rem !important;
	}

	.cards {
		grid-template-columns: repeat(2, 1fr);
	}

	.recent-grid {
		grid-template-columns: 100%;
	}

	.kleiner {
		font-size: 1rem;
	}

	.tool button {
		width: 120px;
		height: 35px;
		font-size: 0.8rem;
	}
}

/* mobile size */

@media only screen and (max-width: 450px) {
	.cards {
		grid-template-columns: 100%;
	}

	.recent-grid {
		grid-template-columns: 100%;
	}

	.kleiner {
		font-size: 1rem;
	}

	.tool button {
		width: 120px;
		height: 35px;
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 380px) {
	.cards {
		grid-template-columns: 100%;
	}

	.recent-grid {
		grid-template-columns: 100%;
	}

	.kleiner {
		font-size: 1rem;
	}

	.tool button {
		width: 115px;
		height: 35px;
		font-size: 0.8rem;
	}

	.card-tools {
		padding: 0;
	}

	header h2 label {
		border-radius: 100%;
	}
}

